* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

.nav_bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  position: fixed;
  bottom: 2%;
}

.nav_bottom_wrapper {
  padding: clamp(6px, 10vw, 10px);
  width: min(300px, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: auto;
  box-shadow:
    0 2px 3px 0 rgba(0, 0, 0, 0.2),
    -1.9px -2px 3px 0 rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.bottom_nav_icons {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  border-radius: 90px;
  background-color: white;
  box-shadow:
    0 2px 3px 0 rgba(0, 0, 0, 0.2),
    -1.9px -2px 3px 0 rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
}

.bottom_nav_icons a {
  color: black;
  user-select: none;
  -webkit-user-select: none;
}

.bottom_nav_icons a i {
  user-select: none;
  -webkit-user-select: none;
}

.bottom_nav_icons:hover {
  border-bottom: 1px solid rgba(119, 117, 117, 0.712);
  transform: translateY(-3px);
  box-shadow:
    0 3px 1px 0px rgba(83, 83, 83, 0.712),
    -1.9px -2px 3px 0 rgba(255, 255, 255, 0.2),
    inset 0 -3px 1px 0px rgba(212, 212, 212, 0.712),
    0 3px 1px 0px rgba(212, 212, 212, 0.712);
}

.hamburger_nav {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.hamburger_trigger {
  display: none;
}

.menus_list {
  padding: 1.2rem;
  position: fixed;
  top: 0;
  right: 0;
  width: clamp(5rem, 100vw, 320px);
  height: 100vh;
  z-index: 999;
  transform: translateX(100%);
  transition: 0.2s ease-in;
  border-left: 1px solid rgba(119, 117, 117, 0.712);
  background-color: #fcfcfc;
}

.menu_toggle_wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
}

.hamburger_trigger:checked ~ .menus_list {
  transform: translateX(0);
}

#open_button {
  font-size: clamp(1.6rem, 4vw, 2rem);
}

#close_button {
  font-size: clamp(1.6rem, 4vw, 2rem);
}

@media screen and (min-width: 1025px) {
  .hamburger_nav {
    display: none;
  }
}
