:root {
  --dominant: #f5f5f5;
  --secondary: #1b1a1a;
  --accent: #646464;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: auto;
  padding: 1rem 2rem;
}

.nav_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  padding: 0.5rem 0.5rem;
  width: 80%;
  margin: auto;
}

.nav_icons_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.8rem 2.5rem 0.8rem 2.5rem;
  border-radius: 10px;
  background-color: var(--dominant);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.nav_icons_wrapper a {
  color: black;
  user-select: none;
  -webkit-user-select: none;
}

.nav_icon {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0);
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
  transform: translateY(0px);
  position: relative;
}

#nav_icon1 {
  position: relative;
}
#nav_icon2 {
  position: relative;
}
#nav_icon3 {
  position: relative;
}

.nav_icon:hover {
  transform: translateY(-5px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow:
    2px 2px 3px rgba(0, 0, 0, 0.2),
    inset -2px 1px rgba(255, 254, 254, 0.63);
}

.nav_icon1_text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  bottom: 125%;
  width: auto;
  white-space: nowrap;
  padding: 8px 14px;
  background-color: var(--secondary);
  border-radius: 6px;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  z-index: 10;
  visibility: hidden; /* Hidden by default */
  opacity: 0;
  color: var(--dominant);
}
.nav_icon:hover .nav_icon1_text {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.nav_icon2_text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  bottom: 125%;
  width: auto;
  white-space: nowrap;
  padding: 8px 14px;
  background-color: var(--secondary);
  border-radius: 6px;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  z-index: 10;
  visibility: hidden; /* Hidden by default */
  opacity: 0;
  color: var(--dominant);
}
.nav_icon:hover .nav_icon2_text {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.nav_icon3_text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  bottom: 125%;
  width: auto;
  white-space: nowrap;
  padding: 8px 14px;
  background-color: var(--secondary);
  border-radius: 6px;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  z-index: 10;
  visibility: hidden; /* Hidden by default */
  opacity: 0;
  color: var(--dominant);
}
.nav_icon:hover .nav_icon3_text {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.hero_section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.hero_contents {
  padding-left: clamp(16px, 4vw, 40px);
  padding-right: clamp(16px, 4vw, 40px);
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}

.hero_section .hero_contents h1 {
  padding-top: clamp(3rem, 4vh, 4rem);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: clamp(4rem, 4vw, 11rem);
  color: #7c7c7c60;
  width: 100%;
  border-bottom: 1px solid black;
  /* margin-bottom: clamp(3rem, 4vh, 4rem); */
}

.hero_section .hero_contents h1 span {
  color: #ff0000;
}

@media screen and (min-width: 768px) {
  .hero_section .hero_contents h1 {
    font-size: clamp(10rem, 4vw, 12rem);
  }
  .hero_contents .p_section {
    margin-top: clamp(3rem, 4vh, 4rem);
  }
}

.hero_section .hero_contents p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: #11111169;
  font-style: normal;
  font-size: clamp(1.2rem, 4vw, 3rem);
  width: 95%;
  margin: auto;
  text-align: justify;
}

.hero_contents .p_section {
  color: var(--secondary);
  height: clamp(10rem, 4vh, auto);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

#spann {
  color: red;
}
